<div class="sidebar">
  <table class="table is-fullwidth">
    <tbody>
      <tr [ngClass]="{'is-active' : clerksInfoIsActive}">
        <td>
          <button class="button" (click)="OnClickClerkInfo()">
            <span>Clerk's Info</span>
          </button>
        </td>
      </tr>
      <tr [ngClass]="{'is-active' : clerksInfoIsActive}">
        <td>
          <button class="button" (click)="OnClickEntryNewClerk()">
            <span>Entry New Clerk</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>