<div class="tabs is-toggle is-fullwidth">
    <ul>
      <li [ngClass]="{'is-active' : hounerBoardIsActive}">
        <a (click)="OnClickHounerBoard()" class="primary-tab">
          <span>Honour Board</span>
        </a>
      </li>
      <li [ngClass]="{'is-active' : soldiersinfoIsActive}">
        <a (click)="OnClickSoldiersInfo()" class="primary-tab">
          <span>Soldiers</span>
        </a>
      </li>
      <li [ngClass]="{'is-active' : performanceIsActive}">
        <a (click)="OnClickPerformance()" class="primary-tab">
          <span>Performance</span>
        </a>
      </li>
      <li [ngClass]="{'is-active' : punishmentIsActive}">
        <a (click)="OnClickPunishment()" class="primary-tab">
          <span>Punishment and Reward</span>
        </a>
      </li>
    </ul>
</div>