@import '../regular-theme.scss';

.root{
    width: 100vw;
    height: 90vh;
    background-color: $secondary-color;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.is-centered{
    position: fixed;
    top: 50%;
    left: 50%;
}

figure{
    margin: auto;
}

.box{
    background-color: $primary-color;
    border-radius: 0px;
    width: 300px;
}