<h2 class="title is-2" style="text-align: center; margin-top: 10px;">Soldier's Info</h2>
<table class="table is-bordered is-fullwidth is-narrow">
  <thead>
    <tr>
      <th>Personal No</th>
      <th>Name</th>
      <th>Rank</th>
      <th>Unit</th>
      <th>Subunit</th>
      <th>Prev. Subunit</th>
      <th>Appointment</th>
      <th>Contact</th>
      <th>Unit Join Date</th>
      <th>Last Promotion Date</th>
      <th>Enrollment Date</th>
      <th>Next Rank Due Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let soldier of soldiers; let i = index">
      <td>{{soldier.personal_no}}</td>
      <td>{{soldier.name}}</td>
      <td>{{soldier.rank}}</td>
      <td>{{soldier.unit}}</td>
      <td>{{soldier.subunit}}</td>
      <td>{{soldier.previous_subunit}}</td>
      <td>{{soldier.appointment}}</td>
      <td>{{soldier.contact}}</td>
      <td>{{soldier.unit_join_date}}</td>
      <td>{{soldier.last_promotion_date}}</td>
      <td>{{soldier.date_of_enrollment}}</td>
      <td>{{soldier.due_date_of_next_rank}}</td>
      <td style="width: 120px;">
        <div class="buttons" style="width: 100%; justify-content: center; height: 100%;">
          <span (click)="OnClickEditInfo(i)" class="icon has-text-success" style="margin-right: 3px;">
            <i class="fas fa-edit" title="Edit Info"></i>
          </span>
          <span (click)="OnClickTransfer(i)" class="icon has-text-success" style="margin-right: 3px; margin-left: 3px;">
            <i class="fas fa-exchange-alt" title="Transfer"></i>
          </span>
          <span (click)="OnClickAssess(i)" class="icon has-text-success" style="margin-right: 3px; margin-left: 3px;">
            <i class="fas fa-marker" title="Assess"></i>
          </span>
          <span (click)="OnClickObservation(i)" class="icon has-text-success" style="margin-right: 3px; margin-left: 3px;">
            <i class="fas fa-star" title="Observations"></i>
          </span>
          <span (click)="OnClickDownloadReport(i)" class="icon has-text-success" style="margin-left: 5px;">
            <i class="fas fa-file-pdf" title="Download Report"></i>
          </span>
          <span (click)="OnClickDelete(i)" class="icon has-text-danger" style="margin-left: 3px;">
            <i class="fas fa-trash-alt" title="Delete Soldier"></i>
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<app-loading-bar *ngIf="requesting"></app-loading-bar>

<!--Observation Modal-->
<div class="modal" [ngClass]="{'is-active':modal_observation}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Edit Observations</p>
      <button (click)="OnClickClose()" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <li *ngFor="let observation of observations; let i = index">{{observation.message}}</li>
    </section>
    <footer class="modal-card-foot">
      <button (click)="OnClickClose()" class="button">Cancel</button>
    </footer>
  </div>
</div>


<!--Assess Modal-->
<div class="modal" [ngClass]="{'is-active':modal_assess}">
  <div class="modal-background"></div>
  <div class="modal-card" style="width: 70%;">
    <header class="modal-card-head">
      <p class="modal-card-title">Assess</p>
      <button (click)="OnClickClose()" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->

      <div class="columns">
        <div class="column is-3 sidebar"
          style="padding-right: 0px; display: flex;justify-content: center; align-items: center; flex-direction: column;">
          <span *ngFor="let criteria of criterias; let i= index" style="width: 100%;">
            <button (click)="OnClickCriteria(i)" style="width: 90%; margin-top: 14px;"
              class="button">{{criteria.name}}</button>
          </span>
        </div>

        <div class="column">
          <div
            style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px;">
            <table class="table is-fullwidth container">
              <tbody>
                <tr *ngFor="let subcriteria of subCriterias.sub_criterias; let i=index;">
                  <td>
                    <div class="field has-addons">
                      <p class="control" style="width: 30%;">
                        <a class="button is-static is-fullwidth form-head-1">
                          {{subcriteria.name}}
                        </a>
                      </p>
                      <p class="control" style="width: 60%;">
                        <input readonly class="input" type="number" value={{subcriteria.mark}}>
                      </p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <input readonly type="number" class="input" value={{total}}>
          </div>
        </div>

      </div>

    </section>
    <footer class="modal-card-foot">
      <button (click)="OnClickClose()" class="button">Cancel</button>
    </footer>
  </div>
</div>

<!--Edit Info Modal-->
<div class="modal" [ngClass]="{'is-active':modal_edit_info}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Edit Soldier Info</p>
      <button (click)="OnClickClose()" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <table class="table is-fullwidth container">
        <tbody>
          <tr>
            <td>
              <div class="field has-addons">
                <p class="control" style="width: 39%;">
                  <a class="button is-static is-fullwidth form-head-1">
                    Personal No
                  </a>
                </p>
                <p class="control" style="width: 60%;">
                  <input (keyup)="OnEditPersonalNo($event)" class="input" type="text" value={{newSoldier.personal_no}}>
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field has-addons">
                <p class="control" style="width: 39%;">
                  <a class="button is-static is-fullwidth form-head-1">
                    Name
                  </a>
                </p>
                <p class="control" style="width: 60%;">
                  <input (keyup)="OnEditName($event)" class="input" type="text" value={{newSoldier.name}}>
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field has-addons">
                <p class="control" style="width: 39%;">
                  <a class="button is-static is-fullwidth form-head-2">
                    Rank
                  </a>
                </p>
                <p class="control" style="width: 60%;">
                  <input (keyup)="OnEditRank($event)" class="input" type="text" value={{newSoldier.rank}}>
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field has-addons">
                <p class="control" style="width: 39%;">
                  <a class="button is-static is-fullwidth form-head-2">
                    Unit
                  </a>
                </p>
                <p class="control" style="width: 60%;">
                  <input (keyup)="OnEditUnit($event)" class="input" type="text" value={{newSoldier.unit}}>
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field has-addons">
                <p class="control" style="width: 39%;">
                  <a class="button is-static is-fullwidth form-head-2">
                    Appointment
                  </a>
                </p>
                <p class="control" style="width: 60%;">
                  <input (keyup)="OnEditAppointment($event)" class="input" type="text" value={{newSoldier.appointment}}>
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field has-addons">
                <p class="control" style="width: 39%;">
                  <a class="button is-static is-fullwidth form-head-2">
                    Contact
                  </a>
                </p>
                <p class="control" style="width: 60%;">
                  <input (keyup)="OnEditContact($event)" class="input" type="text" value={{newSoldier.contact}}>
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field has-addons">
                <p class="control" style="width: 39%;">
                  <a class="button is-static is-fullwidth form-head-1">
                    Join Date in Unit
                  </a>
                </p>
                <p class="control" style="width: 60%;">
                  <input (change)="OnEditDueDateOfNextRank($event)" type="date" class="input" [valueAsDate] ="StringToDate(newSoldier.unit_join_date)">
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field has-addons">
                <p class="control" style="width: 39%;">
                  <a class="button is-static is-fullwidth form-head-1">
                    Date of Last Promotion
                  </a>
                </p>
                <p class="control" style="width: 60%;">
                  <input (change)="OnEditDateOfLastPromotion($event)" type="date" class="input" [valueAsDate] ="StringToDate(newSoldier.last_promotion_date)">
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field has-addons">
                <p class="control" style="width: 39%;">
                  <a class="button is-static is-fullwidth form-head-1">
                    Date of Enrollment
                  </a>
                </p>
                <p class="control" style="width: 60%;">
                  <input (change)="OnEditDateOfEnrollment($event)" type="date" class="input" [valueAsDate] ="StringToDate(newSoldier.date_of_enrollment)">
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field has-addons">
                <p class="control" style="width: 39%;">
                  <a class="button is-static is-fullwidth form-head-1">
                    Due Date of Next Rank
                  </a>
                </p>
                <p class="control" style="width: 60%;">
                  <input (change)="OnEditDueDateOfNextRank($event)" type="date" class="input" [valueAsDate] ="StringToDate(newSoldier.due_date_of_next_rank)">
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <footer class="modal-card-foot">
      <button (click)="OnClickSaveSoldier()" class="button is-success">Save changes</button>
      <button (click)="OnClickClose()" class="button">Cancel</button>
    </footer>
  </div>
</div>

<!--Transfer Modal-->
<div class="modal" [ngClass]="{'is-active':modal_transfer}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button (click)="OnClickClose()" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="field has-addons">
        <p class="control" style="width: 39%;">
          <a class="button is-static is-fullwidth form-head-2">
            From
          </a>
        </p>
        <p class="control" style="width: 60%;">
          <input readonly class="input" type="text" value={{newSoldier.previous_subunit}}>
        </p>
      </div>

      <div class="field has-addons">
        <p class="control" style="width: 39%;">
          <a class="button is-static is-fullwidth form-head-2">
            To
          </a>
        </p>
        <div class="control" style="width: 60%;">
          <div class="select" style="width:100%">
            <select (change)="OnEditToSubunit($event)" style="width: 100%;">
              <option>A coy</option>
              <option>B coy</option>
              <option>C coy</option>
              <option>D coy</option>
            </select>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button (click)="OnClickTransferSoldier()" class="button is-success">Transfer</button>
      <button (click)="OnClickClose()" class="button">Cancel</button>
    </footer>
  </div>
</div>

<!--Report Download Modal-->
<div class="modal" [ngClass]="{'is-active':modal_report}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Report Download</p>
      <button (click)="OnClickClose()" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <h1 class="title" style="text-align: center;">{{report_status}}</h1>
    </section>
    <footer class="modal-card-foot">
      <a href={{download_url}} class="button is-success" *ngIf="pdf_found == true" target="_blank">Download</a>
      <button (click)="OnClickClose()" class="button">Cancel</button>
    </footer>
  </div>
</div>