<h2 class="title is-2" style="text-align: center; margin-top: 10px;">Add a New Soldier</h2>
<table class="table is-fullwidth container">
  <tbody>
    <tr>
      <td>
        <div class="field has-addons">
          <p class="control" style="width: 39%;">
            <a class="button is-static is-fullwidth form-head-1">
              Personal No
            </a>
          </p>
          <p class="control" style="width: 60%;">
            <input (keyup)="OnEditPersonalNo($event)" class="input" type="text" value={{newSoldier.personal_no}} placeholder="Personal No">
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field has-addons">
          <p class="control" style="width: 39%;">
            <a class="button is-static is-fullwidth form-head-1">
              Name
            </a>
          </p>
          <p class="control" style="width: 60%;">
            <input (keyup)="OnEditName($event)" class="input" type="text" value={{newSoldier.name}} placeholder="Name">
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field has-addons">
          <p class="control" style="width: 39%;">
            <a class="button is-static is-fullwidth form-head-2">
              Rank
            </a>
          </p>
          <p class="control" style="width: 60%;">
            <input (keyup)="OnEditRank($event)" class="input" type="text" value={{newSoldier.rank}} placeholder="Rank">
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field has-addons">
          <p class="control" style="width: 39%;">
            <a class="button is-static is-fullwidth form-head-2">
              Unit
            </a>
          </p>
          <p class="control" style="width: 60%;">
            <input (keyup)="OnEditUnit($event)" class="input" type="text" value={{newSoldier.unit}} placeholder="Unit">
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field has-addons">
          <p class="control" style="width: 39%;">
            <a class="button is-static is-fullwidth form-head-1">
              Subunit
            </a>
          </p>
          <div class="control" style="width: 60%;">
            <div class="select" style="width:100%">
              <select (change)="OnEditSubunit($event)" style="width: 100%;">
                <option [selected]="newSoldier.subunit == 'A coy' || newSoldier.subunit == '' || newSoldier.subunit == null">A coy</option>
                <option [selected]="newSoldier.subunit == 'B coy' ">B coy</option>
                <option [selected]="newSoldier.subunit == 'C coy' ">C coy</option>
                <option [selected]="newSoldier.subunit == 'D coy' ">D coy</option>
              </select>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field has-addons">
          <p class="control" style="width: 39%;">
            <a class="button is-static is-fullwidth form-head-2">
              Previous Subunit
            </a>
          </p>
          <div class="control" style="width: 60%;">
            <div class="select" style="width:100%">
              <select (change)="OnEditPreviousSubunit($event)" style="width: 100%;">
                <option [selected]="newSoldier.previous_subunit == 'None' || newSoldier.previous_subunit == '' || newSoldier.previous_subunit == null">None</option>
                <option [selected]="newSoldier.previous_subunit == 'A coy' ">A coy</option>
                <option [selected]="newSoldier.previous_subunit == 'B coy' ">B coy</option>
                <option [selected]="newSoldier.previous_subunit == 'C coy' ">C coy</option>
                <option [selected]="newSoldier.previous_subunit == 'D coy' ">D coy</option>
              </select>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field has-addons">
          <p class="control" style="width: 39%;">
            <a class="button is-static is-fullwidth form-head-2">
              Appointment
            </a>
          </p>
          <p class="control" style="width: 60%;">
            <input (keyup)="OnEditAppointment($event)" class="input" type="text" value={{newSoldier.appointment}} placeholder="Appointment">
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field has-addons">
          <p class="control" style="width: 39%;">
            <a class="button is-static is-fullwidth form-head-2">
              Contact
            </a>
          </p>
          <p class="control" style="width: 60%;">
            <input (keyup)="OnEditContact($event)" class="input" type="text" value={{newSoldier.contact}} placeholder="Contact">
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field has-addons">
          <p class="control" style="width: 39%;">
            <a class="button is-static is-fullwidth form-head-1">
              Join Date in Unit
            </a>
          </p>
          <p class="control" style="width: 60%;">
            <input (change)="OnEditJoinDateInUnit($event)" type="date" class="input" [valueAsDate] ="StringToDate(newSoldier.unit_join_date)">
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field has-addons">
          <p class="control" style="width: 39%;">
            <a class="button is-static is-fullwidth form-head-1">
              Date of Last Promotion
            </a>
          </p>
          <p class="control" style="width: 60%;">
            <input (change)="OnEditDateOfLastPromotion($event)" type="date" class="input" [valueAsDate] ="StringToDate(newSoldier.last_promotion_date)">
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field has-addons">
          <p class="control" style="width: 39%;">
            <a class="button is-static is-fullwidth form-head-1">
              Date of Enrollment
            </a>
          </p>
          <p class="control" style="width: 60%;">
            <input (change)="OnEditDateOfEnrollment($event)" type="date" class="input" [valueAsDate] ="StringToDate(newSoldier.date_of_enrollment)">
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field has-addons">
          <p class="control" style="width: 39%;">
            <a class="button is-static is-fullwidth form-head-1">
              Due Date of Next Rank
            </a>
          </p>
          <p class="control" style="width: 60%;">
            <input (change)="OnEditDueDateOfNextRank($event)" type="date" class="input" [valueAsDate] ="StringToDate(newSoldier.due_date_of_next_rank)">
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="OnClickSubmit()" class="button is-fullwidth is-green">
          Submit
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-loading-bar *ngIf="requesting"></app-loading-bar>