<nav class="navbar is-green" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <h2 class="title is-2 navbar-title">{{title}}</h2>
      </a>
    </div>
  
    <div class="navbar-menu" *ngIf="isLoggedIn">
      <div class="navbar-end">
        <div class="navbar-item">
            <div class="username">
                <b style="color: white;">{{username}}</b>
            </div>
            <div>
                <a (click)="OnClickSignOut()" class="button is-secondary">
                    Sign Out
                </a>
            </div>
        </div>
      </div>
    </div>
  </nav>